.footer{
	width: 1444px;
	height: 300px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #001326;
}

.column-styling {
	font-family: Lato;
	font-style: Regular;
	font-size: 18px;
	line-height: 22px;
	line-height: 100%;
	color: #FFFFFF;
}

.logo-style{
	display: grid;
	justify-content: center;
	padding-top: 70px;

}

#logo-text{
	margin-left: 91px;
}

.textColor{
	color: #FFFFFF;
}

.icon-style{
	text-decoration: none;
}

/* Contact Rectangle */

.contact_styling {
position: absolute;
height: 70px;
left: -4px;
right: 0px;
bottom: 278px;

background: rgba(8, 68, 130, 0.85);
}


/*@media only screen and (max-width: 480px){
	#location{
		display: flex;
		justify-content: flex-end;
	}
}
*/
