@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme-color: #eba12a;
  font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat' sans-serif;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: initial;
    text-decoration: none;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }

  header {
    background-color: #fff;
    border-bottom: 1px solid var(--theme-color);
    width: 100vw;
  }

  header > .site-meta {
    height: 45px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .site-meta .icon {
      width: 15px;
      height: 15px;
  }

  header > .site-meta ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header > .site-meta ul li {
    margin: 0 5px 0 1px;
    font-style: normal;
    font-weight: 600;
    font-size: 0.7rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  header > .site-meta ul li a {
    color: #ffffff;
  }

  header > nav {
    height: 65px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
  
  header > nav .logo {
    width: 237px;
    height: 109.4px;
  }

  header > nav .logo img {
    height: 100%;
    width: 100%;
  }
  
  header > nav .links {
    display: none
  }
  
  header > nav .logo {
    width: 150px;
    height: 50px;
  }
  
  header > nav .logo img {
    height: 100%;
    width: 100%;
  }

  /*  Hero section */
  main section.hero {
    height: 90vh;
    background: url("./assets/images/ROOM.png");
    background-size: cover;
    background-position: center;
  
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  main section.hero ::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    background: rgba(35, 35, 34, 0.5);
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  main section.hero h1 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 2rem;
    letter-spacing: 0.15em;
    z-index: 2;
    color: #ffffff;
    text-transform: uppercase;
  }

  main > section.showcase {
  margin: 3em auto;
}

main > section.showcase .showcase-header h2 {
  color: var(--theme-color);
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3rem;
  letter-spacing: 0.15em;
  text-align: center;
}

main > section.showcase .page-breaker {
  margin: 1.5em 0;
}

.showcase-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase-item {
    margin-bottom: 2em;
}

.showcase-item-image {
    height: 279px;
  }
  
  .showcase-item-content .title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.15em;
    text-align: center;
    margin: 20px 0;
    color: #232322;
  }
  
  .showcase-item-content .description {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.1em;
  
    color: #232322;
  }
  
  .showcase-item-meta {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .button {
    width: 174.64px;
    height: 41.67px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #232322;
    border-radius: 5px;
  }

  /* Secondary showcase */
  .sec-showcase {
    margin: 2rem auto 0 auto;
  }
  
  .sec-showcase-header h2 {
    margin-bottom: 1em;
    color: var(--theme-color);
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3rem;
    letter-spacing: 0.04em;
    text-align: center;
  }
  
  .sec-showcase-header p {
    margin: 1em;
    color: #232322;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;
  }
  
  .sec-showcase-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sec-showcase-items-img {
    margin-bottom: 2em;
  } 
  
  .sec-showcase-items-img > img {
    width: 100%;
    height: 100%;
  }
  
  .sec-showcase-items-button {
    margin: 0 auto 1em auto;
    width: 180px;
    height: 41px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #232322;
    border-radius: 5px;
  }

  /* Footer */
.footer-container {
    background: #494331;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2em;
  }
  
  .head-footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 66px;
  }
  
  .head-footer .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .head-footer .footer-nav > a {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.5rem;
    letter-spacing: 0.03em;
    color: #ffff;
  }
  
  .footer-logo {
    width: 104px;
    height: 41.6px;
    background-color: #ffffff;
  }
  
  .footer-logo img {
    width: 100%;
    height: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .footer-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .footer-content-left > h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 17px;
  }
  
  .footer-content-left p {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content-left p .footer-icon  {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 7px;
  }
  
  .footer-content-left p .footer-icon img {
    width: 100%;
    height: 100%;
  }
  
  .footer-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content-right .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1em;
  }
  
  .footer-content-right .form-container > p {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    margin-bottom: 1em;
  }
  
  .form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container form input[type=email] {
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    border: 0.7px solid #EBA12A;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    padding: 5px 25px;
  }
  
  .form-container form input[type=email]::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #5C5A5A;
  }
  
  .form-container form input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 80px;
    height: 40px;
    
    background: var(--theme-color);
    border: none;
    border: 1px solid #EBA12A;
    box-sizing: border-box;
    border-radius: 0px 8px 8px 0px;
  }
  
  .footer-content-right .social-icons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }


@media only screen and (min-width: 740px) and (max-width: 970px) {

    header > .site-meta ul li {
        font-size: 1rem;
        margin: 0 10px;
    }

    .showcase-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        row-gap: 2em;
      }

      .sec-showcase-items {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2em;
        column-gap: 1em;
      }
      
      /* .sec-showcase-items-img {
        width: 510.03px;
        height: 257.96px;
      } */
      
      .sec-showcase-items-img > img {
        width: 100%;
        height: 100%;
      }

      .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }

      .head-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 66px;
      }
      
      .head-footer .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .head-footer .footer-nav > a {
        margin-right: 1em;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 1.5rem;
        letter-spacing: 0.03em;
        color: #ffff;
      }

      .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      
      
}