* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.intro {
  padding: 4em 5em;
  height: 100%;
}

.features {
  background-color: rgba(25, 19, 65, 0.1);
}

.first-page__2 h1 {
  font-style: normal;
  font-weight: 600;
  display: block;
  text-align: left;
  margin-left: 120px;
  margin-bottom: 3px;
  line-height: 44px;
  font-weight: normal;
  color: #191341;
  font-size: 36px;
}

.first-page__2 h1 {
  text-align: center;
  margin-left: 0px;
}

.first-page-main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.first-page-main img {
  width: 300px;
  height: 330px;
  margin: 0 auto;
  margin-top: 3em;
}

.first-page-main h1 {
  margin-left: 20px;
  color: #191341;
}

.first-page-main h2, .first-page__2 h2 {
  width: 100%;
  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #4F4F4F;
}

.bottom__content {
  width: 100%;
}

.first-page__rooms img {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 350px;
  margin-top: 8px;
  z-index: -1;
  object-fit: cover;
}

.see-rates-button {
  position: relative;
  bottom: 70px;
  right: 0px;
}

.see-rates-button a {
  display: inline-block;
  padding: 8px 16px;
  margin: 8px;
  color: #ffffff !important;
  background: #191341 !important;
  border-radius: 7px;
  text-decoration: none !important;
  transition: background-color 0.4s, color 0.4s !important;
}

.first-page__rooms h1 {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  margin-top: -25px;
  color: #191341;
  text-align: left;
}

.first-page__rooms h2 {
  font-size: 22px;
  line-height: 27px;
  color: #191341;
  text-align: left;
  padding: 10px 0px;
}


.first-page__features {
  background: rgba(25, 19, 65, 0.1);
  width: 100%;
  padding: 1em 2em;
  margin: 0;
}

#feature-head {
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #191341;
  margin-bottom: 30px;
}

.grid-item {
  margin-bottom: 30px;
}

.grid-item h1 img {
  width: 40px !important;
  height: 40px !important;
  vertical-align: middle;
}

.grid-item h1 {
  font-size: 20px;
  line-height: 140%;
  color: #4f4f4f;
}

.grid-item h2  img {
  width: 25px !important;
  height: 25px !important;
  vertical-align: middle;
  margin-right: 10px;
}

.grid-item h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
}

.view-all-button {
  width: 100%;
  padding: 0 32px;
  margin: 0 4em;
}

.first-page__features a {
  color: #ffffff;
  background: #191341;
  border-radius: 7px;
  display: inline-block;
  padding: 8px 24px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}

.first-page__features a:hover,
.first-page__features a:active {
  color: #4f4f4f;
} 

@media only screen and (min-width: 501px) and (max-width: 850px) {
  .first-page-main img {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  
  .first-page-main h2 {
    width: 100%;
    height: 272px;
    font-size: 28px;
    padding: 1em 3em 0em 3em; 
  }

  .first-page-main h1 {
    margin-left: 80px;
    margin-bottom: 3px;
  }

  .first-page__features .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 850px) and (max-width: 960px) {

  .intro {
    padding: 4em 2em 0em 1em;
  }

  .first-page-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
  }

  .first-page-main img {
    width: 20.126em;
    height: 18.875em;
    margin-top: 2em;
  }

  .first-page-main .text__content, .first-page__2 .text__content {
    margin: 2em 0em 0em 0em;
  }

  .first-page-main h2 {
    width: 320px;
    height: 272px;
    font-size: 20px;
  }

  .first-page__2 .text__content h2 {
    font-size: 20px;
    text-align: center;
  }

  .first-page-main h1 {
    margin-left: 10px;
    margin-bottom: 23px;
  }

  .bottom__content {
    margin: 0em 0em;
  }

  .rooms-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .first-page__features .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}

@media only screen and (min-width: 961px) {
  .intro {
    padding: 4em 5em 0em 1em;
  }
  
  .first-page-main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
  }

  .first-page-main img {
    width: 28.126em;
    height: 26.875em;
  }

  .first-page-main .text__content, .first-page__2 .text__content {
    margin: 2em 0em 0em 0em;
  }

  .first-page-main h2 {
    width: 380px;
    height: 272px;
    font-size: 25px;
  }

  .first-page-main h1 {
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 25px;
  }

  .first-page__2 .text__content h2 {
    text-align: center;
  }

  .see-rates-button {
    position: relative;
    bottom: 70px;
  }
  
  .bottom__content {
    margin: 0em 0em;
  }

  .rooms-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .first-page__features .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item h2  img {
    margin-left: 10px;
  }

  .view-all-button {
    width: 100%;
    padding: 0 32px;
    margin: 0 30em;
  }

  .first-page__features {
    padding: 2em 4em;
  }
  
}
