* {
    font-family: Poppins;
}

body {
    background-color: background: #E5E5E5;
}


/*Rooms types title (special & normal)*/
section h1.text-center {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    color: #412A1E;
}

/*Rooms types text (special & normal)*/
section h5.text-center {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}



div section div a.roomlink {
    text-decoration: none;
}

/*Room card title*/
div section div a div h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #412A1E;
}

/*Room card price*/
div section div a div h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #412A1E;
}

/*Room card text: "per night"*/
div section div a div h6 small.smallText {
    color: #E6B922;
}

div section div.card:hover {
    transform: translateY(8px);
}

div div button.btn:hover{
    background-color: #ffe200;
}

@media (max-width: 576px) {
    div section.card-columns {
        column-count: 1;
    }

    div section div.card {
        margin: 20px
    }
}

@media (min-width: 576px) {
    div section.card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    div section.card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    div section.card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    div section.card-columns {
        column-count: 3;
    }
}
