html{
  font-family: 'Montserrat', sans-serif;
}
.center-heading-text{
  text-align: center;
}

.center-contact-page{
  margin-left: 10vh;
  margin-right: 10vh;
}
@media screen and (max-device-width: 800px), screen and (max-width:800px) {
  .center-contact-page{
    margin-left: 5vh;
    margin-right: 5vh;
}
}

.containercontact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
@media screen and (max-device-width: 800px), screen and (max-width:800px) {
  .containercontact{
    grid-template-columns: 1fr;
  }
}

#contact-sub-header{
  margin-bottom: 3rem; 
}
.address-info{
  margin: auto 0;
  line-height: 2rem;
}

.mini-header-size{
  font-size: 1.4rem;
}
.medium-header-size{
  font-size: 2rem;
  letter-spacing: 1rem;
  font-weight: 700;
  margin: 1rem 0;


}

#map{
    height: 50vh;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of its */
}

.contact-row-grid{
  margin-bottom: 40px;
}

.contact-form-box{
  border: 2px solid#ce9f53;
  padding: 6%;
  border-radius: 5px;
}
.contact-form-button{
  background-color: #eba12a; width: 100%; border-radius: 5px;
  padding: 5%;
  margin: 4% 0;
}
.textarea-border-fit{
    width: 100%;
    height: auto;
}
.input-padding{
  padding: 4%;
}
.names{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.first-name-div{
  margin-left: auto;
}

.message-label, .contact-full-width-input{
  width: 100%;
}
#contact-form-vertical{
  font-size: 120%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/*Adjustment to make address show above map which has z-index of 3*/
@media screen and (max-device-width: 800px), screen and (max-width:800px) {
.info-block-resp{
  position: relative;
  display: contents;
}
}
.position-map{
  width: 100%;
  border-top: 2px solid #ce9f53;
}
#top-nav-rem-mag{
  margin-bottom: 0;
}