/* Beginning of Carousel Section */

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.carousel {
    height: 600px;
}

/* Beginning of Dark overlay for slide2 image */
.overlay{
    width: 100%;
    height: 600px;
    background: black;
    overflow: hidden;
}

.overlay picture img{
    object-fit: cover;
    opacity: 0.3;
}
/* End of Dark overlay for slide2 image */

.d-block {
    height: 600px;
    width: 100%;
}

.fas {
    font-weight: 800;
    font-size: 1.5rem;
}

.welcome-box-container, .third-box-container {
    width: 100%;
    height: 80%;
    margin-top: 7%;
    background: none;
    position: fixed;
}

.welcome-box, .third-box {
    display: flex;
    margin: 8.5% 20%;
    height: 70%;
    width: 60%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    letter-spacing: 0.3em;
}

.third-box{
    margin: 10% 20%;
    width: 50%;
}

.welcome-box-text{
    color: #FFF;
    margin-bottom: 3%;
    font-size: 1.1rem;
}

.third-box-text {
    color: #06C7B4;
    font-size: 2.3rem;
    margin-bottom: 3%;
    font-size: 0.9rem;
    line-height: 2rem;
    letter-spacing: 0.1rem !important;
}

.Third {
    font-size: 0.9rem;
}

.hotel-text {
   color: #06C7B4;
   font-family: 'Crimson Text', serif; 
}

.book-button {
    height: 60px;
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #035951;
}

.book-button:hover {
    background: #036158;
    cursor: pointer;
}

.book-button:focus {
    background: #036158;
}

/* Beginning of Media Queries */

@media (max-width:578px) and (min-width:321px) {
    .welcome-box {
        width: 90%;
        margin: 25% 5%;
    }

    .third-box{
        width: 80%;
        margin: 30% 10%; 
    }

    .overlay picture source{
        object-fit: cover;
        opacity: 0.3;
    }

    .hotel-text{
        font-size: 2.3rem;
    }

    .book-button{
        width: 50%;
        margin-top: 10%;
    }
}

@media (max-width:330px) and (min-width:320px) {
    .welcome-box {
        width: 90%;
        margin: 30% 5%;
    }

    .third-box{
        width: 80%;
        margin: 30% 10%; 
    }

    .overlay picture source{
        object-fit: cover;
        opacity: 0.3;
    }

    .hotel-text{
        font-size: 1.7rem;
    }

    .book-button{
        width: 50%;
        margin-top: 10%;
    }
}

/* End of Media Queries */

/* End of Carousel Section */