*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.accns-header {
  /*Div containing accomodations description*/
  padding: 4%;
  background-image: url(../assets/images/accomodations.background.jpg);
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(2px);
  position: relative;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 400px #000, inset -0px -0px 400px #000;
}

.accns-heading {
  /*Typography fo heading*/
  box-sizing: border-box;
  text-transform: capitalize;
  margin-bottom: 2%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  padding: 0 0.7em;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.accns-grid {
  /*two part grid with css grid to hold left and right side divs(accns-left and accns-right )*/
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  margin: 4em 0;
  width: 100%;
  height: 150%;
}

@media (max-width: 780px) {
  .accns-grid {
    flex-direction: column;
    justify-content: left;
    margin-top: 1em;
  }

  .accns-left,
  .accns-right {
    /*typography for left and right grid columns*/
    text-align: center !important;
    margin: 1em 0;
  }
}

.accns-left,
.accns-right {
  /*typography for left and right grid columns*/
  box-sizing: border-box;
}

.accns-left p,
.accns-right p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #ffffff;
  font-weight: 600;
}

.accns-left {
  text-align: left;
}
.accns-right {
  text-align: right;
}
