:root {
  --primary-color: #eba12a;
  --footer-bg: #aaaa55;
  --nav-link-color: #232322;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utilities  */
.container {
  max-width: 1500px;
  padding: 0 3%;
  margin: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

/* header nav */
#header-nav {
  background: var(--primary-color);
}

#header-nav ul {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-end;
  font-size: small;
}

#header-nav a {
  color: white;
}

#header-nav li {
  color: white;
  margin-left: 2rem;
}

/* main nav */
#main-nav {
  margin-bottom: var(--primary-color);
}
#main-nav img{
  width: 169px;
}
#main-nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3%;
  background-color: white;
}

#main-nav ul {
  display: flex;
}

#main-nav li {
  margin-left: 2rem;
}

#main-nav a {
  color: var(--nav-link-color);
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
}
.active{
  border-bottom: 2px solid #eba12a;
}
/*  */
#footer-form input {
  padding: 0.8rem;
  border-radius: 6px;
  border: none;
}

#footer-form input::placeholder {
  font-family: "Montserrat", sans-serif;
}

#footer-form #submit {
  background: var(--primary-color);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.line {
  width: 473px;
  height: 2px;
  background: var(--primary-color);
}

/*  */
/* Footer */
#footer-main {
  background: var(--footer-bg);
  color: #fff;
  padding: 2rem 0;
}

.footer-info h3 {
  padding-bottom: 2rem;
}

#footer-main h2,
#footer-main p {
  padding-bottom: 1rem;
}

#footer-main .footer-sub input[type="email"] {
  width: 300px;
}

#footer-main .footer-sub input[type="submit"] {
  margin-left: -1rem;
  border-radius: 0 6px 6px 0;
}

#footer-main .footer-nav {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

#footer-main .footer-nav ul {
  display: flex;
  text-transform: uppercase;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}

#footer-main .footer-nav ul li {
  padding-right: 2rem;
  padding-bottom: 1rem;
}

#footer-main .footer-nav img {
  background: #fff;
  width: 120px;
}

#footer-main .footer-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* BURGER MENU FOR SMALLER DEVICE */
.burger {
  cursor: pointer;
  display: none;
  z-index: 1;
}

.burger .line:first-child {
  width: 12px;
}

.burger .line {
  display: block;
  background: var(--primary-color);
  height: 2px;
  width: 25px;
  margin: 12px;
  transition: all 0.5s ease-in-out;
}

/* media query */

@media screen and (max-width: 850px) {
  .burger {
    display: block;
    z-index: 3000;
  }

  .nav-menu {
    width: 100vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0px;
    left: 0px;
    height: 100vh;
    transform: translateY(-100%);
    transition: transform 1s 0s ease-in-out;
    z-index: 2000;
  }

  .nav-menu li {
    margin: 20px;
    opacity: 0;
  }

  .nav-active {
    background: white;

    transform: translateY(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line:first-child {
    width: 24px;
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  #footer-main .footer-nav ul {
    display: block;
    width: 100%;
  }
  #footer-main .footer-nav img{
    margin: auto;
    margin-left: 0;
  }
}

/* FOR SMALL TABLET  */
@media screen and (max-width: 800px) {
  #header-nav li {
    margin-left: 1rem;
  }

  .box {
    width: 25px;
    height: 20px;
    margin: 0 2rem;
  }
}

/* FOR MOBILE PHONES */
@media screen and (max-width: 600px) {
  .underline {
    margin-bottom: 3rem;
  }

  .box {
    height: 10px;
    margin: 0 1rem;
  }

  /* header */

  /* header nav */
  #header-nav {
    display: none;
  }

  /* main nav */
  #main-nav {
    padding: 1rem 0;
  }

  #main-nav img {
    width: 120px;
  }

  #main-nav ul {
    display: flex;
  }

  #main-nav li {
    margin-left: 2rem;
  }

  #main-nav a {
    color: var(--nav-link-color);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5;
  }


  /* Footer */
  #footer-main {
    text-align: center;
  }

  #footer-main .footer-info h3 {
    font-size: 1.5rem;
  }

  #footer-main a,
  #footer-main p {
    font-size: 0.9rem;
  }

  #footer-main .footer-sub input[type="submit"] {
    margin-top: 1rem;
    margin-left: 0;
    border-radius: 5px;
  }

  #footer-main .footer-nav {
    justify-content: center;
  }
}

/* FOR SMALL MOBILE PHONES */
@media screen and (max-width: 350px) {
  #footer-main .footer-sub input[type="email"] {
    width: 250px;
  }
}
