@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme-color: #eba12a;
  font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: initial;
    text-decoration: none;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }

  header {
    background-color: #fff;
    border-bottom: 1px solid var(--theme-color);
    width: 100vw;
  }

/* main nav */

#main-nav {
  margin-bottom: var(--theme-color);
}

#main-nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 270px;
  height: 120px;
}

#logo {
  height: 100%;
  width: 100%;
}

#main-nav ul {
  display: flex;
}

#main-nav li {
  margin-left: 2rem;
}

#main-nav a {
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
}


/* top nav rendered to display of none shows only for tablet and desktop */

  #header-nav {
    display: none;
  }

  .burger {
    cursor: pointer;
    display: none;
    z-index: 1;
  }
  
  .burger .line:first-child {
    width: 12px;
  }
  
  .burger .line {
    display: block;
    background: var(--theme-color);
    height: 2px;
    width: 25px;
    margin: 12px;
    transition: all 0.5s ease-in-out;
  }

  .burger {
    display: block;
    z-index: 3000;
  }

  .nav-menu {
    width: 100vw;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0px;
    left: 0px;
    height: 100vh;
    transform: translateY(-100%);
    transition: transform 1s 0s ease-in-out;
    z-index: 2000;
  }

  .nav-menu li {
    margin: 20px;
    opacity: 0;
  }

  .nav-active {
    background: white;

    transform: translateY(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line:first-child {
    width: 24px;
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }


  /*  Hero section-  Main section with background image */


  main section.hero {
    height: 90vh;
    background: url("./assets/images/ROOM.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  main section.hero ::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    background: rgba(35, 35, 34, 0.5);
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  main section.hero h1 {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.2rem;
    letter-spacing: 0.15em;
    z-index: 2;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }

  main > section.showcase {
  margin: 3em auto;
}

main > section.showcase .showcase-header h2 {
  color: var(--theme-color);
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.15em;
  text-align: center;
}

main > section.showcase .page-breaker {
  margin: 2em 0;
}

.showcase-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase-item {
    margin-bottom: 2em;
}

.showcase-item-image {
    height: 279px;
  }
  
  .showcase-item-content .title {
    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 2.0rem;
    text-align: center;
    letter-spacing: 0.15em;
    text-align: center;
    margin: 20px 0;
    color: #232322;
  }
  
  .showcase-item-content .description {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    letter-spacing: 0.1em;
    color: #232322;
  }
  
  .showcase-item-meta {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .price {
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.01em;
    color: #232322;
  }
  
  .button {
    width: 174.64px;
    height: 41.67px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #232322;
    border-radius: 5px;
  }

  /* Secondary showcase */

  .sec-showcase {
    margin: 1em auto 0 auto;
  }
  
  .sec-showcase-header h2 {
    margin-bottom: 1em;
    color: var(--theme-color);
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3rem;
    letter-spacing: 0.04em;
    text-align: center;
  }
  
  .sec-showcase-header p {
    margin: 0 0 1em 0;
    color: #232322;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.1em;
    text-align: justify;
  }
  
  .sec-showcase-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sec-showcase-items-img {
    margin-bottom: 4em;
  } 
  
  .sec-showcase-items-img > img {
    width: 100%;
    height: 100%;
  }
  
  .sec-showcase-items-button {
    margin: 0 auto 1em auto;
    width: 200px;
    height: 45px;
    background-color: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #232322;
    border-radius: 5px;
  }

  /* Footer */

.footer-container {
    background: #494331;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2em;
  }
  
  .head-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
  }
  
  .head-footer .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .head-footer .footer-nav > a {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.5rem;
    letter-spacing: 0.03em;
    color: #ffff;
  }
  
  .footer-logo {
    width: 104px;
    height: 41.6px;
    background-color: #ffffff;
  }
  
  .footer-logo img {
    width: 100%;
    height: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .footer-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .footer-content-left > h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    text-align: left;
    margin-bottom: 17px;
  }
  
  .footer-content-left p {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content-left p .footer-icon  {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 7px;
  }
  
  .footer-content-left p .footer-icon img {
    width: 100%;
    height: 100%;
  }
  
  .footer-content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .footer-content-right .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1em;
  }
  
  .footer-content-right .form-container > p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    margin-bottom: 1em;
  }
  
  .form-container form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container form input[type=email] {
    width: 170px;
    height: 40px;
    background: #FFFFFF;
    border: 0.7px solid #EBA12A;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    padding: 5px 25px;
  }
  
  .form-container form input[type=email]::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #5C5A5A;
  }
  
  .form-container form input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 0.7rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
    
    background: var(--theme-color);
    border: none;
    border: 1px solid #EBA12A;
    box-sizing: border-box;
    border-radius: 0px 8px 8px 0px;
  }
  
  .footer-content-right .social-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2em;
  }

  .footer-content-right .social-icons a {
    margin-right: 1em;
  }

  /* For Tablets */

@media only screen and (min-width: 740px) and (max-width: 970px) {

    #header-nav {
    display: block;
    }

    #header-nav {
      background: var(--theme-color);
      height: 40px;
    }
    
    #header-nav ul {
      display: flex;
      padding: 1rem 0;
      justify-content: flex-end;
    }
    
    #header-nav a {
      color: white;
    }
    
    #header-nav li {
      color: white;
      margin-left: 2rem;
    }

    header > .site-meta ul li {
        font-size: 1rem;
        margin: 0 10px;
    }

    .showcase-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        row-gap: 2em;
      }

      .sec-showcase-items {
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2em;
        column-gap: 1em;
      }
      
      .sec-showcase-items-img > img {
        width: 100%;
        height: 100%;
      }

      .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }

      .head-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 66px;
      }
      
      .head-footer .footer-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .head-footer .footer-nav > a {
        margin-right: 1em;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 1.5rem;
        letter-spacing: 0.03em;
        color: #ffff;
      }

      .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      .footer-content-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
      }

      .footer-content-right .social-icons a {
        margin-left: 1em;
      }

      
      
}