* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  body {
    width: 100%;
    height: 100%;
    border: none;
  }
  #fluid {
    padding-left: 0;
    padding-right: 0;
  }
  h1.main-frame-text {
    position: relative;
    text-align: center;
    top: 300px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
  }
  a {
    text-decoration: none;
  }
  
  .main__frame {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("./images/Rectangle\ 1.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    position: relative;
  }
  
  .main__frame::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
  }
  .info {
    font-size: 60px;
    color: rgb(124, 123, 128);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top__section {
    width: 100%;
    height: 49px;
  }
  
  .top__content {
    max-width: 100%;
    height: 49px;
    background: #191341;
  }
  
  .top__content > .container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    color: #ffffff;
    padding-top: 15px;
  }
  
  .container > .icons {
    display: flex;
    flex-direction: row;
    width: 100px;
    font-size: 15px;
  }
  
  .icons i {
    margin-right: 25px;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .container > .select {
    display: flex;
    flex-direction: row;
    width: 200px;
    font-size: 18px;
  }
  
  /* select section */
  .select > p {
    margin-right: 10px;
  }
  .select > p.x {
    margin-left: 40px;
  }
  .select > span {
    line-height: 25px;
  }
  
  /* navigation */
  nav {
    position: absolute;
    content: "";
    width: 100%;
    height: 80px;
    z-index: 2;
    padding: 0 4em;
  }
  
  nav .navBrand {
    /* font-family: Calibri; */
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 70px;
    color: #ffff;
    z-index: 2;
    float: left;
  }
  
  nav ul {
    float: right;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 70px;
  }
  
  li a {
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    padding: 8px 17px;
  }
  
  li a:hover {
    background: #191341;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  
  .checkbtn {
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 70px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  .intouch {
    width: 100%;
  }
  
  /* media Query */
  
  /* mobile */
  @media screen and (min-width: 300px) and (max-width: 420px) {
    /* top icons */
    .container > .icons {
      width: 30%;
      font-size: 12px;
    }
  
    .icons i {
      margin-right: 20px;
    }
  
    .container > .select {
      width: 40%;
      font-size: 12px;
    }
  
    .select > p.x {
      margin-left: 20px;
    }
    .select > span {
      line-height: 18px;
    }
  
    .top__content > .container {
      width: 80% !important;
    }
  
    nav {
      padding: 0 2.4em !important;
    }
  
    nav .navBrand {
      font-size: 27px !important;
    }
  }
  
  /* small tablet */
  @media screen and (min-width: 550px) and (max-width: 772px) {
    .container > .select {
      font-size: 12px;
    }
  
    .select > span {
      line-height: 18px;
    }
  
    nav {
      padding: 0 5em;
    }
  
    nav .navBrand {
      font-size: 33px;
    }
  }
  
  /* tablet */
  @media screen and (min-width: 900px) and (max-width: 1250px) {
    .top__content > .container {
      width: 85%;
    }
  
    nav {
      padding: 0 4em;
    }
  
    nav .navBrand {
      font-size: 33px;
    }
  
    li a {
      font-size: 14px;
      padding: 8px 14px;
    }
  }
  
  @media screen and (min-width: 1250px) {
    nav {
      padding: 0 8em;
    }
  }
  
  /* navbar */
  @media screen and (max-width: 852px) {
    .checkbtn {
      display: block;
    }
  
    nav ul {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      top: 110px;
      left: -100%;
      text-align: center;
      transition: all 0.4s;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    li a:hover,
    a.active {
      background: none;
      color: #191341;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }
  
  #container-1 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
  }
  #container-2 {
    width: 90%;
  }
  #container-3 {
    width: 100%;
    display: flex;
    justify-content: stretch;
  }
  .cities {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    padding-left: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .btn-style {
    border: none;
    height: 50px;
    max-height: 50px;
    min-width: 50px;
    background-color: transparent;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
  }
  
  .btn-style:focus {
    outline: none;
    border-bottom: 5px solid blue;
  }
  
  .btn-style:hover {
    border-bottom: 5px solid blue;
  }
  
  .btn-style:active {
    border-bottom: 5px solid blue;
  }
  .col-md-3 {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-left: 60px;
  }
  .col-md-3 p {
    font-family: Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  /* media Query */
  
  /* mobile */
  @media screen and (max-width: 974px) {
    #container-1 {
      display: flex;
      flex-wrap: wrap;
    }
    .cities .btn-style {
      font-family: Calibri;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 27px;
      margin-top: 15px;
    }
    .col-md-3 {
      width: 100%;
      margin-top: 10px;
      padding-left: 1px;
    }
    .col-md-3 p {
      font-size: 15px;
    }
    .cities {
      padding-left: 1px;
    }
    /* .info {
      font-size: 30px;
      color: rgb(124, 123, 128);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    } */
  }
  /* footer style */
  footer {
    width: 100%;
    padding: 3em;
    background-color: #191341;
  }
  
  footer h2 {
    color: white;
    margin: auto;
    font-size: 30px;
    padding: 0.3em 0em;
    text-transform: uppercase;
  }
  
  .d-table {
    margin: auto;
    width: 95%;
    display: flex !important;
    padding-left: 2em;
  }
  .d-table ul {
    list-style-type: none;
  }
  
  .d-column {
    width: 40%;
  }
  
  #theader {
    padding-top: 12px;
    color: white;
    padding-bottom: 12px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
  }
  
  #list-row li {
    padding: 3px;
    font-size: 15px;
  }
  #list-row li a {
    color: rgb(199, 196, 196);
    text-decoration: none;
    padding: 2px;
  }
  .links {
    padding: 1em 2.5em;
  }
  .links .fa {
    padding: 15px;
    color: white;
    cursor: pointer;
    width: 15px;
    height: 15px;
    font-size: 15px;
    text-decoration: none;
  }
  @media (max-width: 991px) {
    footer {
      width: 100%;
      max-width: 100%;
      padding-left: 2em;
    }
    .d-table {
      max-width: 100%;
      padding: 20px;
      width: 100%;
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      padding: 0em;
    }
  
    .d-column {
      width: 100%;
      padding: 1em;
    }
  
    footer h2 {
      padding: 0.5em;
    }
  
    #theader {
      line-height: 15px;
    }
    #list-row li a {
      color: rgb(199, 196, 196);
      text-decoration: none;
      padding: 2px;
      font-size: 12px;
    }
  }