* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
}

/* Utilities */

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

.peach {
    background: #E38383;
}

.gold {
    background: #E3B783;
}

.blue {
    background: #82AFE3;
}

/* BUTTONS */
a {
    text-decoration: none;
    transition: all 0.5s;
    outline: none;
    color: inherit;
    text-decoration: none !important;
}

.main-button {
    background-color: #e6b922;
    color: #fff !important;
    outline: none;
    padding: 10px 20px;
}

.main-button-outline {
    border: 1px solid #e6b922;
    color: #e6b922 !important;
    padding: 10px 20px;
    outline: none;
}

.main-button i,
.main-button-outline i {
    font-size: 12px;
    margin-left: 10px;
}

/* NAVBAR */
.navbar__container {
    height: 100px;
    align-items: center;
    padding-top: 10px;
}

.logo {
    line-height: 80px;
    float: left;
    text-transform: uppercase;
    height: 70px;
    width: 70px;
}

.navbar__menu__container {
    float: right;
    line-height: 80px;
    list-style-type: none;
}

.navbar__menu__container li {
    display: inline;
    padding: 10px;
}

.navbar__menu__container .navbar-link {
    color: #412a1e;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 10px;
    transition: all 0.4s;
}

.navbar__menu__container .navbar-link.active {
    position: relative;
}

.navbar__menu__container .navbar-link.active:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 60px;
    border-radius: 2px;
    background-color: #e6b922;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 70px;
}

.show-menu-btn,
.hide-menu-btn {
    transition: all 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn:hover,
.hide-menu-btn:hover,
.navbar__menu__container .navbar-link :hover {
    color: #412a1e;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}



/* BREADCRUMB AREA STYLINGS */
.breadcrumb__area {
    padding: 0 0px 20vh 0px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    background-image: url("../img/top-bg-img.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.breadcrumb__area .navbar__menu {
    background-color: rgba(255, 255, 255, 0.9);
    /* padding-top: 10px; */
    margin-bottom: 30px;
}

.bg-overlay {
    position: relative;
    z-index: 1;

}

.bg-overlay::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
}

.breadcrumb__area h6 {
    color: #e6b922;
    margin-bottom: 15px;
}

.breadcrumb__area h2 {
    margin-bottom: 15px;
    font-weight: bold;
}

.breadcrumb__area span {
    margin-right: 8px;
}

.breadcrumb__area .arrow-icon i {
    font-size: 12px;
}

/* INTRODUCTION HEADER */
.intro-wrapper {
    width: 60%;
    margin: 10vh auto;
}

.intro-wrapper p {
    font-weight: 300;
}

.intro-wrapper .intro-text,
.intro-wrapper .intro-title,
.intro-wrapper .intro-subtitle {
    line-height: 1.6;
}

.intro-wrapper .intro-action-btn {
    margin: 4rem 0;
}

.intro-wrapper .intro-action-btn a {
    background: #E6B922;
    padding: 1rem 2.5rem;
}


/* Booking Form */

.booking-form {
    width: 80%;
    background: #412a1e;
    margin: auto;
    position: relative;
    bottom: 160px;
    z-index: 1;
    padding: 4rem;
    color: #ffffff;
    font-weight: 300;
}

.booking-form .form-group input,
.booking-form .form-group select {
    -webkit-appearance: none;
    width: 100%;
    padding: 1rem;
    border: 0.5px solid #E5E5E5;
    background: #412a1e;
    color: white;
    border-radius: none;
}

.booking-form .form-group select {
    -webkit-appearance: none;
    border-radius: 0;
}

.booking-form .form-group .book-btn {
    background: #e6b922;
    border: none;
}


/* MAIN BODY STYLINGS */

/* ABOUT CONTENT */
.about__header,
.about__paragraph,
.about__action-btn {
    line-height: 1.5;
}

.about__header {
    color: #412a1e;
    width: 70%;
    margin: 2rem 0;
}

.about__paragraph {
    margin: 2rem 0;
    width: 90%;
}

.about__action-btn {
    margin: 4rem 0;
}

.about__action-btn a {
    background: #E6B922;
    padding: 1rem 2.5rem;
    color: #ffffff;
}

.about__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* TESTIMONIALS */
.testimonial {
    background-color: rgba(229, 229, 229, 0.3);
    margin: 10rem 0;
    padding: 4rem 0;
}

.testimonial__subtitle,
.testimonial__title {
    text-align: center;
}

.testimonial__subtitle {
    color: #E6B922;
}

.testimonial__title {
    font-weight: 300;
}

/* Carousel */

.carousel-inner {
    width: 60%;
    margin: 2% auto;
    text-align: center;
    color: #707070;
}

.carousel-control-prev-icon {
    padding: 1rem;
    border-radius: 50%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    padding: 1rem;
    border-radius: 50%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/* BLOG AND EVENT */

.blog__subtitle,
.blog__title {
    text-align: center;
}

.blog__subtitle {
    color: #E6B922;
}

.blog__title {
    font-weight: 300;
}

.blog__images {
    margin: 4rem 0;
}

/* Event Card */
.event-card {
    height: 400px;

}

.event-card-img {
    height: 400px;
    background: grey;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
}


.event-content .event-category {
    padding: 0.8rem;
    width: 45%;
    font-family: Poppins;
    text-align: center;
}

/* EVENT IMAGES */
.event-img-one {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/event-img-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.event-img-two {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/event-img-2.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.event-img-three {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/event-img-3.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.event-img-four {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/event-img-4.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.event-img-five {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/event-img-5.png");
    background-repeat: no-repeat;
    background-size: cover;

}


/* FOOTER STYLINGS */
.footer__area {
    padding: 40px 0 0 0;
    background: #412a1e;
    color: #b5b5b5;
    margin-top: 70px;
}

.footer__area .footer__header h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.footer__area .logo__header {
    color: #ffffff;
    margin-bottom: 30px;
}

.footer__area .logo__header h4 {
    margin-bottom: 0;
    font-size: 30px;
    font-family: "Chakra Petch", sans-serif;
}

.footer__area .logo__header p {
    margin: 0;
    font-size: 10px;
    line-height: 0;
    padding-left: 5px;
    font-family: "Chakra Petch", sans-serif;
}

.footer__area .logo__body p {
    margin-bottom: 30px;
}

.footer__area .logo__body .logo__share__icons a {
    color: #e6b922;
    padding: 10px 3px;
    font-size: 26px;
}

.footer__area .footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__area .footer__links .first__set,
.footer__area .footer__links .second__set {
    width: 45%;
}

.footer__area .footer__links .empty__space {
    width: 10%;
}

.footer__area .footer__links .first__set ul,
.footer__area .footer__links .second__set ul {
    list-style-type: none;
}

.footer__area .footer__links .first__set ul li,
.footer__area .footer__links .second__set ul li {
    margin-bottom: 10px;
}

.footer__area .footer__links .first__set ul li a,
.footer__area .footer__links .second__set ul li a {
    color: #b5b5b5;
    text-decoration: none;
}

.footer__area .footer__body .form-field {
    position: relative;
    /* z-index: 1; */
}

.footer__area .footer__body input {
    padding: 0.5rem 1.4rem 0.8rem 1.4rem;
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: transparent;
    border: 0.5px solid #e5e5e5;
    font-size: 16px;
    padding: 0 10px;
    color: #b5b5b5;
}

.footer__area .footer__body .form-field button {
    position: absolute;
    padding: 7px 10px 10px 10px;
    border-radius: 0;
    background-color: #e6b922;
    font-size: 16px;
    color: #fff;
    height: 40px;
    top: 0;
    right: 0;
    border: 0.5px solid #e5e5e5;
    border-left: none;
    cursor: pointer;
    transition: all 500ms;
    outline: none;
}

.footer__area .footer__feed img {
    height: 30px;
    width: 40px;
    margin: 1%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 972px) {

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }
    .lil-margin {
        margin-bottom: 1rem;
    }

    .intro-wrapper {
        width: 95%;
    }

    .intro-wrapper .intro-title {
        line-height: 1.2;
        padding: 2rem 0;
    }

    .about__header {
        line-height: 1.2;
        width: 80%;
    }

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
        color: #412a1e;
    }

    .hide-menu-btn {
        color: #fff;
    }

    .navbar__menu__container {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #e6b922;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 9998;
    }

    .navbar__menu__container .navbar-link {
        display: block;
        padding: 20px;
        color: #fff;
    }

    .navbar__menu__container .dropbtn {
        padding: 30px;
        color: #fff;
    }

    .hide-menu-btn {
        position: absolute;
        right: 40px;
        top: 40px;
    }

    #chk:checked~.navbar__menu__container {
        right: 0;
    }

    odd-facilities .text-content,
    .single-facility .text-content {
        z-index: -1;
    }
}


.odd-facilities .main-image {
    height: 420px;
    width: 100%;
    z-index: -1111;
}

.single-facility .col-md-6,
.odd-facilities .col-md-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.single-facility .main-image {
    float: right;
    height: 420px;
    width: 100%;
    z-index: -1111;
}

.single-facility .facility-icon,
.odd-facilities .facility-icon {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.single-facility .text-content {
    background: #fcfcfc;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.04);
    position: relative;
    top: 5%;
    z-index: 1;
    width: 500px;
    padding: 40px 60px;
    right: -25%;
    transform: translate(2%, 2%);
    text-align: right;
}

.odd-facilities .text-content {
    background: #fcfcfc;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.04);
    position: relative;
    top: 0;
    /* z-index: 1; */
    width: 500px;
    padding: 40px 60px;
    left: 0;
    transform: translate(-15%, 7%);
    text-align: left;
}

.single-facility .text-content h6,
.odd-facilities .text-content h6 {
    color: #e6b922;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.single-facility .text-content h3,
.odd-facilities .text-content h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.single-facility .text-content p,
.odd-facilities .text-content p {
    color: #b5b5b5;
    margin-bottom: 40px;
    font-size: 14px;
}

@media screen and (max-width: 450px) {

    .single-facility .col-md-6,
    .odd-facilities .col-md-6 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .single-facility .main-image,
    .odd-facilities .main-image {
        height: 280px;
    }

    .odd-facilities,
    .single-facility {
        margin-bottom: 50px;
    }

    .odd-facilities .text-content,
    .single-facility .text-content {
        z-index: -1;
    }
}

@media screen and (max-width: 750px) {

    .booking__header-text {
        text-align: center;
        padding: 1rem 0;
    }

    .about__header {
        line-height: 1.2;
    }

    .about__header,
    .about__paragraph,
    .about__action-btn {
        width: 90%;
        margin: 3rem auto;
        text-align: center;
    }

    .odd-facilities .text-content,
    .single-facility .text-content {
        z-index: -1;
    }

    @media screen and (max-width: 768px) {

        .odd-facilities,
        .single-facility {
            margin-bottom: 50px;
        }

        .single-facility .col-md-6,
        .odd-facilities .col-md-6 {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .single-facility .text-content,
        .odd-facilities .text-content {
            top: 0;
            left: 0;
            transform: none;
            width: 100%;
            padding: 15px 20px;
            margin-bottom: 10px;
            text-align: center;
            z-index: 0;
        }

        .single-facility .text-content {
            top: 5%;
            right: 0;
            /* transform: translate(50%,25%); */
        }

        /* .single-facility .text-content{
      left: -10%;
      right: 0;
    } */
        .odd-facilities .text-content {
            /* margin-top: 10px; */
            padding: 10px 20px;
        }

        /* .single-facility .main-image {
      height: 300px;
    } */
    }
}